<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="color: white;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="search-outline"></ion-icon>
    <ion-input labelPlacement="fixed" placeholder="   Search for Friends"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row class="middle">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/icon/temp.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Stephen Cahyono
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Accept</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="middle">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/icon/rename.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Kujuo
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Add Friend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="middle">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/icon/niba.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Afton
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Add Friend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="middle">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/icon/lahiya.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Blud
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Unfriend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="middle">
      <ion-col size="2">
        <ion-avatar>
          <ion-img src="../../assets/icon/mj.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        Michael Jackson 
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" color="primary">Unfriend</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>