<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>toast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Inline Toast</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button id="open-toast" expand="block">Open</ion-button>
    <p id="message">Absen yang pedo</p>
    <ion-toast color="primary" position="middle" trigger="open-toast" [buttons]="toastButton" message="aku aku aku"></ion-toast>
  </ion-content>
