<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card class="kartu"> 
  <ion-card-header>  </ion-card-header>
    <ion-card-content>
    <img src="../../assets/icon/yangini.jpg" class="profile-image">
    <ion-card-title>Muhammad Hidayattur Rahman</ion-card-title>
    <h3>Mahasiswa</h3>
    <a href="https://www.tiktok.com/nearvlt" target="_blank"><ion-card-subtitle>@nearvlt</ion-card-subtitle></a>
    <a href="https://www.instagram.com/day4v._/" target="_blank"><ion-card-subtitle>@day4v._</ion-card-subtitle></a>
  </ion-card-content>
</ion-card>




