<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div ng-if="userRole==='dayat'">
    <ion-img class="poto"
  src="../../assets/icon/rename.jpg">\</ion-img>
    </div>
    <!-- <div ng-if="userRole==='latip'">
      <ion-img src="../../assets/icon/rename.jpg" style="width: 50%;height: 50%;">\</ion-img>
    </div> -->
    <p>Wellcome Home Lil Nigga</p>
  </div>
</ion-content>
