<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img
  src="https://ionic-docs-demo-v6.vercel.app/assets/madison.jpg">\</ion-img>
    <p>The Wisconsin State Capitol building in Madison, WI at night</p>
  </div>
</ion-content>
